* {
	scroll-behavior: smooth;
}

html {
	background: #F2F2F2;
}

html {
	margin-left: calc(100vw - 100%);
}

#__next {
	width: 100%;
	height: 100%
}

::placeholder {
	color: #C5C6C7 !important;
}
:-ms-input-placeholder,
::-ms-input-placeholder {
	color: #C5C6C7 !important;
}

/******************************************************************************
**	Styled button style
******************************************************************************/
.button {
	will-change: transform, opacity;
	contain: content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
	transition: 0.1s;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	border-radius: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

/******************************************************************************
**	TAILWIND CSS ++
******************************************************************************/
.transition-all {
	transition-duration: 150ms;
}
.animation-delay-500 {
	animation-delay: 1000ms !important;
}
*, ::before, ::after {
    --tw-ring-color: transparent !important;
}

.inline-children > * {
	display: inline;
}